
<div class="opisaniye-materiala">
  <div class="images">
  <img src="\Static\slider\london.jpg">
  <img src="\Static\slider\ny.jpg">
  <img src="\Static\slider\spb.jpg">

  </div>
<div class="btm-slides">
  <span onclick="btm_slide(1)"></span>
  <span onclick="btm_slide(2)"></span>
  <span onclick="btm_slide(3)"></span>

  </div>
<div class="pokazatel-snimka left" onclick="side_slide(-1)">
  <span class="fas fa-angle-left"></span>
  </div>
<div class="pokazatel-snimka right" onclick="side_slide(1)">
  <span class="fas fa-angle-right"></span>
  </div>
</div>